<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22><text y=%2224%22 font-size=%2224%22>🍁</text></svg>">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:each="role : ${user.roles}">
        <div>
          <span th:text="${role.id}"></span>:<span th:text="${role.name}"></span>
        </div>
      </td>
      <td>
        <button>Action</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>